@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    box-sizing: border-box;
}
html{
    background-image: url(cobra_kai__no_mercy__wallpaper_hd_by_angelus23_dd5ikxa-pre.jpg);
    background-size: cover;
}
#title{
    height: 210px;
    width: 425px;
}
#board {
     display: flex;
     flex-wrap: wrap;
     height: 360px;
     width: 360px;
     margin-top: 15px;
 }
.cell {
      flex-basis: 120px;
      display: flex;
      border: 3px solid black;
      justify-content: center;
      align-items: center;
      background-color: white;
    }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.start {
    background-color: Red;
    font-size: 100px;
    border: 2px solid black;
    position: absolute;
    top: 34.5%;
    right: 39.5%;
    height: 330px;
    width: 330px;
}
.cobra_kai{
    color: yellow;
    position: absolute;
    left: 10%;
    top: 35%;
    font-size: 70px;
    font-family: 'Lobster', cursive;
}
.miyagi_do{
    color:rgb(17, 6, 122);
    position: absolute;
    right: 5%;
    top: 35%;
    font-size: 60px;
    font-family: 'Shojumaru', cursive;
}
.player1{
    background-color: yellow;
    float: left;
    margin-left: -625px;
    margin-top: -250px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.player2{
    background-color:rgb(17, 6, 122);
    color: white;
    float: right;
    margin-right: -625px;
    margin-top: -250px;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
#replay {
    background-color:rgb(15, 94, 32);
    color: white;
    padding: 10px;
    font-size: 30px;
    border: 2px solid white;
    margin-top: 10px;
}
#turn{
    color: red;
    font-size: 30px;
    background-color: black;
    margin-top: 5px;
    padding: 5px
}
#replay:hover, .start:hover{
    box-shadow: 0 2px 5px 5px black;
}
@media screen and (max-width: 1300px){
    body {
        width: 100%;
        height: 100%;
    }
    .start {
        width: 20%;
        height: 25%;
        right: 450px;
        top: 300px;
        margin: 0px;
        font-size: 60px;
    }
    .cobra_kai{
        width: 5px;
        height: 5px;
    }
    .miyagi_do{
        width: 5px;
        height: 5px;
        right: 25%;
    }
    .player1 {
        top: 35%;
        margin-left: -500px;
        margin-top: 0;
    }
    .player2{
        margin-right: -500px;
        margin-top: 0;
    }
}
@media screen and (max-height: 700px){
    body {
        width: 100%;
        height: 100%;
    }
    .start {
        width: 20%;
        height: 25%;
        right: 450px;
        top: 300px;
        margin: 0px;
        font-size: 60px;
    }
    .cobra_kai{
        width: 5px;
        height: 5px;
    }
    .miyagi_do{
        width: 5px;
        height: 5px;
        right: 25%;
    }
    .player1 {
        top: 35%;
        margin-left: -500px;
        margin-top: 0;
    }
    .player2{
        margin-right: -500px;
        margin-top: 0;
    }
}
